/* Messages */

div.messages {
  padding: 15px;
  color: #036;
  background-color: #f8f8f8;
}

div.messages a {
  text-decoration: underline;
}

div.messages a:hover {
  text-decoration: none;
}

div.status {
  color: #687;
  border: solid 3px #687;
}

div.error {
  border: solid 3px #DD7777;
  color: #990000;
}

div.warning {
  border: solid 3px #FFCC66;
  color: #CC6633;  
}

/* Help */

div.help {
  padding: 15px;
  color: #036;
  background-color: #f8f8f8;
}

div.help {
  border: solid 3px #5882D5;
  color: #5882D5;  
}